body{
  overflow-x: hidden;
}

/*          START OF TOP SECTION.    */
#top {
  background-color: #d0dbe2;
  height: 80vh;
}

#mypic{
  width: 70px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(39, 91, 135,0.3);
}

.navi {
  padding-top: 40px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
.nav-link {
  color: #275b87;
}

.name-ar {
  /*color: #3e719b;*/
  color: #275b87;
  font-family: 'Aref Ruqaa', serif;
  font-size: 60px;
}

.name-en {
  margin-top: 15vh;
  color: #275b87;
  font-family: 'Damion', cursive;
  font-size: 60px;
}

.title{
  margin-top: 20vh;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #3e719b;
}


@media (max-width: 540px) {

  #mypic {
    width: 50px;
  }
  .navi a{
    font-size: 13px;
  }
  .name-en {
    font-size: 40px;
  }
  .name-ar {
    font-size: 40px;
  }
  .name-en svg{
    width: 100px;
  }
  .name-ar svg{
    width: 100px;
  }
  .title {
    font-size: 18px;
  }
  .cloud1{
    text-align: right;
  }
}
@media (max-width: 768px) {
  .title{
    margin-top: 10vh;
  }
}
/*          END OF TOP SECTION         */




/*          START OF ABOUT            */

#about{
  padding-top: 50px;
}

.about-wrapper{
  margin-top: 80px;
}

.about-wrapper  h4 {
  color: #3e719b;
  font-family: 'Dosis', sans-serif;
}

.about-wrapper p{
  margin-top: 20px;
}

.sperator
{
  padding-bottom: 90px;
}

.divider
{
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  width: 50%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(200,200,200), transparent);
}

.div-arrow-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}


#education{
  margin-top: 40px;
}

#about svg{
  width: 200px;
  height: 200px;
}

.phase-wrapper {
  margin-top: 50px;
}
.phase-wrapper p{
  padding-top: 20px;
}


@media (max-width: 540px) {
  #about svg{
    width: 140px;
    height: 150px;
  }
  .phase-wrapper p,h6{
    font-size: 14px;
  }
}
/*          END  OF ABOUT            */




/*       START OF PROJECTS             */
#projects h4{
  color: #3e719b;
  font-family: 'Dosis', sans-serif;
}

.projects-wrapper{
  margin-top: 40px;
}



.card {
  overflow: hidden;
  background: white;
  box-shadow: 10 10 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}



/*         END OF PROJECTS             */




/*    START OF PROGRAMMING LANGUAGES   */

#skills {
  height: 50vh;
}

#skills h4{
  margin-top: 50px;
  color: #3e719b;
  font-family: 'Dosis', sans-serif;
  padding-bottom: 50px;
}

.programming > svg{
  width: 50px;
}

.languages-row {
  padding-bottom: 50px;
}

@media (max-width: 540px) {
  #skills{
    height: 40vh;
  }

}

/*    END  OF PROGRAMMING LANGUAGES   */





/*      START OF SOCIAL                 */
#social {
  height: 30vh;
}

#social h4{
  color: #3e719b;
  font-family: 'Dosis', sans-serif;
}

#social p{
  margin-top: 40px;
}

#social p a{
  color: #3e719b;
}

/*      END OF SOCIAL                 */






/*         START OF CONTACT           */
#contact{
  margin-top: 50px;
  background-color: #d0dbe2;
}

.form-wrapper{
  background-color: white;
  font-family: 'Dosis', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 70px;
  box-shadow: 2px 2px 2px rgba(39, 91, 135,0.3);
  border-radius: 20px;
}
.contact-title{
  color: #3e719b;
}

.btn-contact-send{
  width: 100%;
  padding: 10px 0 10px 0;
  border: 2px solid #3e719b;
  color: white;
  background-color: #3e719b;
  border-radius: 20px;
}

@media (max-width: 540px) {
  .form-wrapper{
    padding: 35px;
  }

}
/*        END OF CONTACT               */
