/*       START OF PROJECTS             */
#projects{
  padding-top: 90px;
}

#projects h4{
  color: #3e719b;
  font-family: 'Dosis', sans-serif;
}

.projects-wrapper{
  margin-top: 40px;
}



.card {
  overflow: hidden;
  background: white;
  box-shadow: 10 10 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  min-height: 320px;
  position: relative;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 10px 0 0 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.card:hover{
  top: -5px;
  transition: top 1s linear;
}


@media (max-width: 540px) {
  .card  {
    margin-top: 20px;
  }
}
/*         END OF PROJECTS             */
